@import "tailwindcss";

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
}

/* APP SHELL SETUP: Lock the body scroll */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent rubber-banding on iOS */
  background-color: #f8fafc; /* matches bg-slate-50 */
  position: fixed; /* Hard lock */
}

body {
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: none;
}

/* Custom scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 8s ease-in-out infinite;
  animation-delay: 2s;
}